* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 90%/1.25 Helvetica, arial, helvetica;
    color: rgb(28, 172, 152);
    perspective: 1000px;
    background: linear-gradient(to bottom, rgb(255, 189, 200), rgb(225, 69, 95));
}

.book {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    cursor: pointer;
    user-select: none;
    transform: rotateX(55deg);
}

.page {
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 2em;
}

.front {
    background-color: #cad5f3;

}

.back {
    background-color: #fff;

}

.front-cover {
    transform-origin: 0 50%;
    transform: rotateY(0deg);

}

.p3d {
    transform-style: preserve-3d;
}

.front-cover .back {
    background-image: url(https://n.sinaimg.cn/sinakd20112/600/w1920h1080/20220510/c74b-bc4963bedeb3a0e741c23777bcb37dec.jpg);
    background-size: 100% 100%;
    transform: translateZ(3px);
}

.flip {
    transform: rotateY(180deg);
}

.shadow,
.pic {
    width: 196px;
    height: 132px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform-origin: 0 100%;
}

.pic {
    background: url(https://n.sinaimg.cn/sinakd20122/650/w1440h810/20220514/e121-1761df8076f188e6239eeedc2378b482.jpg);
    background-size: 100% 100%;
}


.shadow {
    background-color: rgba(152, 134, 15, 0.5);
}